:root{
    --violet-doux:#6c63ff;
    --violet-fonce:#534EDD;
    --Orange-vif:#FFA726;
    --gris-tres-foncee:#333;
    --gris-foncee:#666;
    --gris-tres-claires:#F8F8F8;
    --gris-claire:#EEE;
    
}