body{
font-family: Arial;
background-color: #f0eded;
margin:0;
padding:0;
}

/* Navbar */

nav{
display:flex;
justify-content:space-between;
align-items:center;
color: #6c63ff;
padding:20px 80px;
}

ul{
display:flex;
list-style:none;
}

ul li{
margin-left:20px;
}

ul li a{
text-decoration:none;
color:black;
}

/* Hero */

.hero{
display:flex;
align-items:center;
justify-content:space-around;
padding:80px;
}

.hero h1{
color:#6c63ff;
font-size:40px;
}

.hero button{
background:#6c63ff;
color:white;
padding:12px 20px;
border:none;
border-radius:20px;
margin-top:10px;
}

/* Image ronde */

.hero-image img{
width:200px;
border-radius:50%;
border:5px solid #6c63ff;
}

/* About */

.about{
text-align:center;
padding:60px;
max-width:800px;
margin:auto;
}

.about h2{
color:#6c63ff;
}

/* Skills */

.skills{
padding:60px;
}

.skills h2{
text-align:center;
color:#6c63ff;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#6c63ff;
color:white;
padding:10px;
}

td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

/* Footer */

footer{
text-align:center;
padding:20px;
margin-top:40px;
color:#6c63ff;
}
.social-icons i{
font-size:20px;
margin:0 10px;
color:#6c63ff;
}
.footer {
  background-color: #6c63ff; /* couleur violette du bloc */
  color: white; /* texte blanc */
  text-align: center;
  padding: 30px 0; /* espace autour */
  margin-top: 50px; /* espace avec le tableau au-dessus */
}

.footer p {
  margin: 0 0 10px 0; /* espace entre texte et icônes */
  font-weight: bold;
}

.footer .social-icons i {
  font-size: 22px;
  margin: 0 12px;
  color: white; /* icônes blanches dans le bloc violet */
}

.footer .social-icons a:hover i {
  color: #f2f2f2; /* petit effet hover */
}